@font-face {
    font-family: 'SavePoint';
    src: url('./assets/fonts/851Gkktt_005.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(180deg, #0c073a 32.65%, #000 83.55%);
}

.title-bar {
  height: 32px;
  -webkit-app-region: drag;
  color: #aaa;
  font-family: 'SavePoint';
  letter-spacing: 0.1em;
}

h1 {
    font-family: 'SavePoint';
  color: white;
}
